*{
    margin: 0;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ESTILIZAÇÃO DA DIV DE HEAD */

.header_principal{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(38, 36, 36);
    height: 130px;
}
.logo{
    width: 110px;
    border-radius: 10px;
}

/* ESTILIZAÇÃO DOS LINKS */

a{
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
a:link {
    color: blueviolet;
}
a:visited { 
    color: rgb(105, 16, 156);
    text-decoration: none;
}
a:hover {
    color: chartreuse;
}

h1 {
    align-items: center;
    justify-content: center;
}

/* ESTILIZAÇÃO DOS TEXTO */

table {
    border-spacing: 20px;
}

h1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
    font-size: 37px;
}

#texto {
    width: 100%;
    display: flex;
    text-align: center;
}
#texto p{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
body {
    background: linear-gradient(90deg,rgb(141, 33, 203) 10%, #038e4b 100%) no-repeat fixed;
}

footer {
    background-color: rgb(38, 36, 36);
    color: rgb(109, 53, 188);
    padding: 10px;
    margin-top: 19%;
    font-weight: 500;
    text-align: center;
}


a::after{
    content: " ";
    width: 0%;
    height: 1.5px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
a:hover::after{
    width: 65%;
}  
