@charset "UTF-8";

img {
    width: 720px;
}
li {
    list-style: none;
    color: rgb(203, 83, 9);
}
:root {
    --orange-c: rgb(230, 126, 62);
    --orange-e: rgb(227, 81, 13);
    --white: #a8bec3;
    --black: #333131;
}
* {
    color: var(--fontColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: var(--bg);
}
ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.light-mode {
    --bg: var(--white);
    --fontColor: var(--orange-e);
    --btBg: var(--black);
    --btFontColor: var(--white);
}
.dark-mode {
    --bg: var(--black);
    --fontColor: var(--orange-c);
    --btBg: var(--white);
    --btFontColor: var(--black);
}

.bt {
    position: absolute;
    top: 7%;
    margin-left: 43%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    color: var(--btFontColor);
    background-color: var(--btBg);
}
.bt:focus {
    outline-style: none;
}

footer {
    text-align: center;
    margin: 0 auto;
    background: var(--btBg);
    padding: 5px;
}
p {
    width: 96%;
}
