@charset "UTF-8";

body {
    margin: 0;
}

button {
    cursor: pointer;
}
header {
    background: rgb(57, 54, 54);
    padding: 20px;
    text-align: center;
    color: rgb(53, 177, 188);
    margin-bottom: 20px;
}

.cadastro {
    text-align: center;
    background-color:rgb(53, 177, 188);
    margin: 0 auto;
    padding: 8px;
    }

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: brown;
}